#wp-pinterest-editor .inside {
  margin-top: 15px; }
#wp-pinterest-editor h3 {
  background: #bf2025;
  color: #fff;
  text-shadow: none; }
#wp-pinterest-editor ul {
  display: table;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%; }
#wp-pinterest-editor li {
  display: table-row;
  width: 100%; }
#wp-pinterest-editor label {
  display: table-cell;
  min-width: 80px;
  padding: 4px 0 15px;
  width: 80px; }
#wp-pinterest-editor input {
  display: table-cell;
  width: 100%; }
